// Color variables

$body-backgroundColor: rgb(244,244,244);
$navbar-backgroundColor: rgb(128,0,64);
$card-borderColor: rgb(192,192,192);
$white: #ffffff;
$buttonSuccess-backgroundColor: rgb(28,184,65);
$buttonError-backgroundColor: rgb(202,60,60);
$buttonWarning-backgroundColor: rgb(223,117,20);
$buttonSecondary-backgroundColor: rgb(66,184,221);
$sessionFlash-backgroundColor: rgb(120,235,146);
$listErrors-backgroundColor: rgb(255,202,149);

// Basic tags

body {
	background-color: $body-backgroundColor;
}

a, a:link, a:visited {
	text-decoration: none;
	color: $navbar-backgroundColor;
}

h1, h2 {
	text-align: center;
}

// Navbar classes

.pure-menu {
	background-color: $navbar-backgroundColor;
	color: white;
	margin-bottom: 15px;
}

.pure-menu-link {
	color: white !important;
}

// Image classes

.image {
	max-height: 600px;
	max-width: 600px;
}

// Alignment classes

.pull-right {
	text-align: right;
}

// Card classes

.card {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	border-style: solid;
	border-color: $card-borderColor;
	border-width: 1px;
	background-color: $white;
}

.card-header {
	margin: 3px;
}

// Button classes

.pure-button {
	border-radius: 5px;
	color: $white !important;
}

.button-success {
	background-color: $buttonSuccess-backgroundColor;
}

.button-error {
	background-color: $buttonError-backgroundColor;
}

.button-warning {
	background-color: $buttonWarning-backgroundColor;
}

.button-secondary {
	background-color: $buttonSecondary-backgroundColor;
}

.button-tag {
	background-color: $navbar-backgroundColor;
}

.button-xsmall {
	font-size: 70%;
}

.button-small {
	font-size: 85%;
}

.new-tag-button {
	margin-left: 15px;
}

// Form classes

.form {
	display: inline;
}

.pure-form-stacked textarea {
	min-height: 75px;
	max-width: 560px;
}

// Media classes

.media {
	margin-top: 10px;
}

.media-text {
	margin: 20px;
}

.text {
	padding-top: 5px;
	padding-bottom: 5px;
}

// Flash and errors classes

.session-flash {
	background-color: $sessionFlash-backgroundColor;
	padding: 10px;	
}

.list-errors {
	background-color: $listErrors-backgroundColor;
	padding: 1px;
}

// Font Awesome classes

.fa-circle {
	margin-right: 5px;
}

// User view classes

.user-card {
	max-width: 800px;
	height: 330px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	border-style: solid;
	border-color: $card-borderColor;
	border-width: 1px;
	background-color: $white;	
}

.user-media {
	margin-top: 23px;
	max-width: 400px;
	float: left;
}

.user-image {
	max-height: 242px;
	max-width: 342px;
	margin-left: 26px;
	margin-right: 26px;
}

.user-photo {
	height: 232px;
	width: 232px;
	margin-top: 23px;
	margin-bottom: 23px;
	margin-left: 23px;
}

.user-photoCard {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	border-style: solid;
	border-color: $card-borderColor;
	border-width: 1px;
	background-color: $white;	
}

// Tag classes

.tag-photo{
	height: 232px;
	width: 232px;
	margin-top: 23px;
	margin-bottom: 23px;
	margin-left: 43px;
}

// Comment classes

.comment-image{
	height: 100px;
	width: 100px;
	margin-right: 20px;
}

.comment-media{
	float: left;
}

// Float classes

.float-left{
	float: left;
}