// Basic tags

body {
	background-color: rgb(244,244,244);
}

a {
	text-decoration: none;
}

// Navbar classes

.pure-menu {
	background-color: rgb(128,0,64);
	color: white;
	margin-bottom: 1em;
}

.pure-menu-link {
	color: white !important;
}

// Image classes

.image {
	max-height: 600px;
	max-width: 600px;
}

// Alignment classes

.pull-right {
	text-align: right;
}

// Card class

.card {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	border-style: solid;
	border-color: rgb(192,192,192);
	border-width: 1px;
	background-color: #ffffff;
}

// Button classes

.button-success {
	color: white;
	background-color: rgb(28,184,65);
}

.button-error {
	color: white;
	background-color: rgb(202,60,60);
}

.button-warning {
	color: white;
	background-color: rgb(223,117,20);
}

.button-secondary {
	color: white;
	background-color: rgb(66,184,221);
}

.button-xsmall {
	font-size: 70%;
}

.button-small {
	font-size: 85%;
}

// Form classes

.form {
	display: inline;
}

// Media classes

.media {
	margin-top: 1em;
}